@page
@model ePiggyWeb.Pages.CurrencyRatesModel

<h3 class="text-light mt-5 mb-5">Currency rates compared to EUR</h3>
<div class="justify-content-center mt-3 mb-3">
    <input placeholder="Search; e.g. Canada" type="text" id="search">
    <input type="button" class="btn btn-primary mb-1" value="Go" onclick="search(document.getElementById('search').value)">
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-light">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Rate</th>
                <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Currencies)
            {
                <tr>
                    <td><strong class="text-info">@item.Name</strong></td>
                    <td class="entry-table-side text-info"><strong>@item.Code</strong></td>
                    <td class="entry-table-side text-info">@item.Rate</td>
                    <td class="entry-table-side text-info">@item.GetSymbol()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function search(string){
        window.find(string);
    }
</script>