@page
@model ePiggyWeb.Pages.EntryModel
<!DOCTYPE html>
<html>
<body>
    <h1>Hello Web Pages</h1>
    <p>@ViewData["Data1"]</p>
    <p>@ViewData["Data2"]</p>
    <p>@ViewData["Data3"]</p>
    <p>@ViewData["Data4"]</p>
</body>
</html> 