@page
@model ePiggyWeb.Pages.EntryModel
<!DOCTYPE html>
<html>
<body>
    <h1>Hello Web Pages</h1>
    <p>@ViewData["EntryList"]</p>
    <p>@ViewData["IncomeList"]</p>
    <p>@ViewData["ExpenseList"]</p>
    <p>@ViewData["GoalList"]</p>
</body>
</html> 