@page
@model ePiggyWeb.Pages.ForgotPasswordModel

<div class="container login-container bg-primary">
    <p class="text-danger">Confirmation code has been sent to your email!</p>
    <form method="post">
        <input asp-for="Email" type="hidden"/>
        <label class="text-light">Recovery Code</label>
        <div class="form-group">
            <input asp-for="EnteredCode" type="text"/>
            <span asp-validation-for="EnteredCode" class="text-danger"></span>
        </div>
        <label class="text-light">New password</label>
        <div class="form-group">
            <input asp-for="Password" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <label class="text-light">Confirm password</label>
        <div class="form-group">
            <input asp-for="PasswordConfirm" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input class="btn btn-primary" type="submit"/>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">@Model.ErrorMessage</p>
        }
    </form>
</div>
