@page
@model ePiggyWeb.Pages.GoalsModel

<br />
<h2 class="text-info">Goals</h2>
@if (!Model.Goals.Any())
{
    <!--SMTH-->
}
else
{
    var num = 0;
    
    @foreach(var item in Model.Goals)
    {
        if (num % 3 == 0)
        {
         @Html.Raw("<div class=\"row p-0 mx-auto mt-3\">")
        }
        <div class="border m-3 bg-primary col-sm">
            <a href="#"><i class="far fa-trash-alt float-right mt-3 text-light "></i></a>
            <div class="clearfix"></div>
            <h3 class="text-light ">@item.Title</h3>
            <div class="progress mt-4 mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <h5 class="text-light">25.00/@item.Amount</h5>
        </div>
        num++;
        if (num % 3 == 0)
        {
            @Html.Raw("</div>")
        }
    }
    if (num % 3 != 0)
    {
        @Html.Raw("</div>")
    }
}



<div class="container bg-primary border p-0 mx-auto mt-3 mb-5">
    <h2 class="text-light mt-5 mb-5">Click on Goal to get suggestions.</h2>
    <!--Table here somewhere-->
</div>

