@page
@model ePiggyWeb.Pages.GoalsModel

<div class="container row p-0 mx-auto mt-3 mb-5">
    <div class="col-sm border m-3 bg-primary">
        <a href="#"><i class="far fa-trash-alt float-right mt-3 text-light "></i></a>
        <div class="clearfix"></div>
        <h3 class="text-light ">Goal Name</h3>
        <div class="progress mt-4 mb-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5 class="text-light">0.00/100.00</h5>
    </div>
    <div class="col-sm border m-3">
        <a href="#"><h3 class="text-light mt-5 mb-5">Add Goal</h3></a>
    </div>
</div>

<div class="container row p-0 mx-auto mt-3 mb-5">
    <div class="col-sm border m-3">
        <a href="#"><h3 class="text-light mt-5 mb-5">Add Goal</h3></a>
    </div>
    <div class="col-sm border m-3">
        <a href="#"><h3 class="text-light mt-5 mb-5">Add Goal</h3></a>
    </div>
    <div class="col-sm border m-3">
        <a href="#"><h3 class="text-light mt-5 mb-5">Add Goal</h3></a>
    </div>
</div>

<div class="container border p-0 mx-auto mt-3 mb-5">
    <h2 class="text-light mt-5 mb-5">Click on Goal to get suggestions.</h2>
</div>

