@page
@model ePiggyWeb.Pages.LoginModel

<div class="container login-container">
    <div class="login-form-2">
        <h3>Sign In</h3>
        <form method="post">
            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control" placeholder="Your Email *" value="" />
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Your Password *" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
            </div>
            <div class="form-group">
                <a asp-page="/Register" class="ForgetPwd" value="Login">New User?</a>
            </div>
        </form>
    </div>
</div>
