@page
@model ePiggyWeb.Pages.LoginModel

@if (Model.FailedToSendEmail)
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>Incorrect Email!</strong>Confirmation code was not sent.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}
<div class="container login-container col-lg-6 col-md-8 col-sm-10 col-12">
    <div class="login-form-2">
        <h3>Sign In</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control" placeholder="Your Email *" value="" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Your Password *" value="" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <p class="text-warning">@Model.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <a href="#" data-toggle="modal" data-target="#AddGoalModal" class="ForgetPwd" value="Login">Forget Password?</a>
            </div>
            <div class="form-group">
                <a asp-page="/Register" class="ForgetPwd" value="Login">New User?</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="AddGoalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" asp-page-handler="ForgotPassword">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="EmailRecovery" type="text" placeholder="Email *" value="" />
                        <span asp-validation-for="EmailRecovery" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>