@page
@model ePiggyWeb.Pages.ErrorPages.ErrorModel

<div class="container-fluid w-100">
    <p class="mt-5 h1_404">Something went wrong!</p>
    <h2 class="mt-5 h2_404">Try again later or contact staff if this happens again.</h2>
</div>
