@page
@model ePiggyWeb.Pages.ErrorPages.ErrorModel

<div class="container-error w-100">
    <img class="w-25" src="images/errorImg.png" alt="confused robot"/>
    <p class="h1_404">Something went wrong!</p>
    <h2 class="mt-5 h2_404">Try again later or contact staff if this happens again.</h2>
    <a asp-page="/index" class="btn btn-lg btn-outline-light mt-2">Return to homepage</a>
</div>
