@page
@model ePiggyWeb.Pages.ErrorPages.Page404Model


    <div class="container-fluid container404 w-100">
        <p class="mt-5 h1_404">It appears you are lost</p>
        <h2 class="mt-5 h2_404">But your savings are not!</h2>
        <a asp-page="/index" class="btn btn-lg btn-outline-light mt-2">Return to homepage</a>
    </div>
