.navbar {
    text-align: center;
}
a:hover {
    text-decoration: none;
}
.container-fluid {
    padding: 1% 15%;
    background-color: #f9f7f7;
    text-align: center;
}


hr {
    width: 60%;
}

h1, h2 {
    font-family: Oswald;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Montserrat;
    text-align: center;
    background-color: #276dc1;
}


#siteHeader {
    margin: 2% 20% 1%;
    background-color: #276dc1;
}

.index-Top {
    margin-top: 2%;
    margin-bottom: 5%;
    color: #f9f7f7;
}

.title-image {  
    max-width: 100%;
    width: 30%;
    height: auto;
}

.jumbotron {
    background-color: #276dc1;
    color: #f9f7f7;
    text-align: center;
}

.white-section {
    color: #fff;
}

#features {
    color: #8f8f8f;
    background-color: #fff;
    position: relative;
    text-align: center;
}

.feature-box {
    padding: 5%;
}

.header-features {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
}

.icon-features {
    color: #276dc1;
}

.icon-features:hover {
    color: #2e9aed;
}

#testimonials {
    background-color: transparent;
    color: #f9f7f7;
}

.carousel-item {
    padding: 7% 15%;
    background-color: transparent;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 3%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.footer {
    background-color: #f9f7f7;
    color: #8f8f8f;
    padding-top: 3%;
}

.footer-image {
    margin: 0 10px 0;
}

/*LOGIN*/
.login-container {
    padding-top: 5%;
    max-width: 50%;
    margin-top: 5%;
    margin-bottom: 16%;
    text-align: center;
}

.login-form-2 {
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 5%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.container-error {
    background-color: transparent;
    padding-bottom: 25%;
    font-size: 3rem;
}

.container404 {
    background-image: url("/images/LostPig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25%;
    font-size: 3rem;
}
.h1_404 {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
    font-family: Oswald;
}

.h2_404 {
    font-size: 3rem;
    font-weight: 700;
    color: #faf3dd;
}

.loader {
    margin-bottom: 10%;
    margin-top: 10%;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
/*tablets (portrait)*/
@media (max-width: 1024px) {

    .login-container {
        max-width: 80%;
        margin-bottom: 25%;
        margin-top: 12%;
    }

    .title-image {
        width: 50%;
    }
}

/*smartphones*/
@media (min-width: 320px) and (max-width: 480px) {
    .login-container {
        max-width: 100%;
        margin-bottom: 40%;
        margin-top: 20%;
    }

    .testimonial-text {
        font-size: 2rem;
    }

    .title-image {
        width: 80%;
    }

    #testimonials {
        margin-top: 10%;
    }

    .footer {
        margin-top: 10%;
        padding-top: 5%;
    }
}

