.navbar{
  text-align: center;
}
hr{
  width:60%;
}

h1,h2{
  font-family: Oswald;
}
body{
  font-family: Montserrat;
  background-color: #276dc1
}

#siteHeader{
  margin: 2% 20% 1%;
  background-color: #27109193;
}
.title-image {
  position: inline-block;
  left: 5%;
  bottom: 63%;
}

.jumbotron{
  background-color: #276dc1;
  color: #f9f7f7;
  text-align: center;
}

.white-section{
  color: #fff;
}

#features {
  color: #8f8f8f;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.feature-box {
  padding: 5%;
}

.header-features {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

.icon-features {
  color: #276dc1;
}

.icon-features:hover {
  color: #2e9aed;
}

.container-fluid {
  padding: 1% 15%;
  background-color:#f9f7f7;
  text-align: center;
}
.footer{
  background-color: #276dc1;
  color: #f9f7f7;
}
